body {
    height: 100%;
}

main {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none !important;
    color: inherit;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background:rgb(204, 205, 206);
    text-align: center;
}
